<p>
  search works!
</p>
<form [formGroup]="SearchForm">
  <div class="form-group">
    <input type="text" placeholder="Search music" class="form-control" formControlName="SearchStr" (keyup)="searchMusic()"/>
  </div>
</form>
<div>
  <div *ngFor="let x of SearchResults">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>{{x.name}}</h4>
          <small><span>Popularity:</span>{{x.popularity}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
